@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-gradient-to-b from-gray-700 via-gray-800 to-gray-900;
}

/* ----- View Transition ----- */

/* :root {
  view-transition-name: none;
} */

/* @keyframes slideup {
  to {
    transform: translateY(-200px);
  }
}

@keyframes slidedown {
  to {
    transform: translateY(0px);
  }
} */

/* ::view-transition-old(title) {
  animation: 200ms cubic-bezier(0.4, 0, 1, 1) both slideup;
}

::view-transition-new(title) {
  animation: 200ms cubic-bezier(0.4, 0, 1, 1) both slidedown;
} */
